<div class=metas>
    <ul>
        {% if  page.prenom %}
        <li>Chez : {{ page.prenom }} {{ page.nom }}</li>
        {% endif %}
        {% if  page.facilitatrice %}
        <li>Facilitatrice : {{ page.facilitatrice }}</li>
        {% endif %}
        {% if page.adresse %}
        <li>Adresse :
            {% if page.osm %}
            <a href="https://www.openstreetmap.org/node/{{ page.osm }}">
                {% else %}
                <a href="https://www.openstreetmap.org/search?query={{ page.adresse }}, Montréal">
                    {% endif %}
                    {{ page.adresse }}</a>
        </li>
        {% endif %}
        {% if  page.email %}
        <li>Contact : {{ page.email }}</li>
        {% endif %}
        {% if  page.transport %}
        <li>Transport : {{ page.transport }}</li>
        {% endif %}
    </ul>
</div>